@model General.WebUI.Models.ControlCenterModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="home" class="no-padding">

    @foreach (var homepartial in Model.ControlCenters)
    {
        <partial name="_homepartial" for="@homepartial" />

    }


</section> <!--/ Slider end -->
<!-- About box start -->

<section id="about" class="about angle">

    <div class="container">

        <div class="row">
            <div class="landing-tab clearfix">
                <ul class="nav nav-tabs nav-stacked col-md-3 col-sm-5">
                    <li>
                    <li class="active">
                        <a class="animated fadeIn" href="#tab_a" data-toggle="tab">
                            <span class="tab-icon"><i class="fa fa-calendar"></i></span>
                            <div class="tab-info">
                                <h3>Hizmetlerimiz</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="animated fadeIn" href="#tab_b" data-toggle="tab">
                            <span class="tab-icon"><i class="fa fa-info"></i></span>
                            <div class="tab-info">
                                <h3>Biz Kimiz </h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="animated fadeIn" href="#tab_c" data-toggle="tab">
                            <span class="tab-icon"><i class="fa fa-briefcase"></i></span>
                            <div class="tab-info">
                                <h3>Kalite Politikamız</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="animated fadeIn" href="#tab_d" data-toggle="tab">
                            <span class="tab-icon"><i class="fa fa-clipboard"></i></span>
                            <div class="tab-info">
                                <h3>Misyonumuz</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="animated fadeIn" href="#tab_e" data-toggle="tab">
                            <span class="tab-icon"><i class="fa fa-dribbble"></i></span>
                            <div class="tab-info">
                                <h3>Vizyonumuz </h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="animated fadeIn" href="#tab_f" data-toggle="tab">
                            <span class="tab-icon"><i class="fa fa-support"></i></span>
                            <div class="tab-info">
                                <h3>Değerlerimiz</h3>
                            </div>
                        </a>
                    </li>

                </ul>
                <div class="tab-content col-md-9 col-sm-7">
                    <div class="tab-pane active fadeIn" id="tab_a">
                        <div class="row" data-masonry='{"percentPosition": true }'>

                            @foreach (var homeservices in Model.CompanyServices)
                            {
                                <partial name="_homeservices" for="@homeservices" />
                            }
                        </div>
                    </div>
                    <div class="tab-pane animated fadeInRight" id="tab_b">
                        <img loading="lazy" src="../../images/image-block-bg2.png" alt="">
                        <h3>3ES BİLGİSAYAR</h3>
                        <p>
                            2006 yılında 3es Computer olarak sektöre giriş yapan firmamız,2010 yılında internet hizmetlerini de sunmaya başlayarak kurumsal bir yapı haline gelmede büyük bir adım atmıştır. Kısa sürede büyümeyi başaran şirketimiz, Bursada önemli bir konuma yerleşmiştir.
                            3es Computer ailesi olarak bilgi çağında yaşanan tüm teknolojik gelişmeleri ve değişimleri takip ederek sizlere en iyi hizmeti sunmak için çalışmaktayız. Var olduğu günden itibaren sürekli büyüyen firmamız, bilgisayari satış ve sonrası teknik destek hizmeti ile  etkin bir  rol oynamaktadır.
                        </p>
                    </div>
                    <div class="tab-pane animated fadeInLeft" id="tab_c">
                        <h3>Kalite Politikamız</h3>

                        <p> 3es, kanun ve mevzuatlar çerçevesinde, yüksek standartlarda her türlü pc bakım donanım hizmetini kesintisiz olarak veren bir kuruluştur.</p>



                        <p>* Her durumda %100 müşteri memnuniyeti sağlamak,</p>

                        <p> * ileriye dönük ve teknolojik yenilikleri takip ederek en geçerli hizmet yöntemlerini uygulamak,</p>

                        <p> * Müşterilerimize ihtiyaç duydukları hizmeti en kısa zamanda vermek,</p>

                        <p> * Müşterilerimizi hakları ve sorumlulukları konusunda doğru ve detaylı bilgilendirmek,</p>

                        <p> * Müşterilerimizin tüm şikayet ve sorunlarını değerlendirerek hizmet kalitemizi artıracak çözümleri hızla üretmek,</p>

                        <p>
                            * Kurulum ve montajları kalitesinden ödün vermeden en yeni teknoloji ve en kaliteli malzemeleri kullanarak yapmak,

                            kalite politikamızın temel öğeleridir.
                        </p>
                    </div>
                    <div class="tab-pane animated fadeIn" id="tab_d">
                        <h3>Misyonumuz</h3>
                        <p>
                            Müşterilerimizin işlerini daha kolay ve ucuz yapmalarını, iş verimini yükselterek rekabet üstünlüğü elde etmelerini sağlayacak yüksek performanslı, ekonomik, kullanımı kolay, anahtar teslimi bilgi sistem çözümlerini en son metodoloji ve teknolojileri kullanarak geliştirmektir. Ayrıca müşteri menmuniyeti ve çalışma ahlakına bağlı kalarak, müşteri haklarına saygı göstererek, pc bakım montaj ve tamirat hizmetleri sunumunda mükemmele ulaşmak.

                            Başarımızın altında yatan temel faktörlerden birincisi yüksek nitelikli, yeniliği yakından izleyen, dinamik ve birbiri ile uyumlu ekibe sahip olmamızdır. Bilgi endüstrisinin en önemli kaynağının insan olduğu düşüncesiyle firma çalışanları titizlikle seçilmekte, ayrıca elemanların sürekli eğitimine önem verilmektedir
                        </p>
                    </div>
                    <div class="tab-pane animated fadeIn" id="tab_e">
                        <h3>Vizyonumuz</h3>
                        <p>IT sektöründe, yurtiçinde doğru teknolojiler ile anahtar teslimi katma değerli çözümler sunan, teknolojik gelişmelerin gerisinde kalmayacak yapıda, değişimi öngören ve yönlendiren, müşteri, tedarikçi ve çalışan memnuniyetini en üst düzeyde tutan, müşterilerinin ve iş ortaklarının birinci derecede tercih ettiği bilişim şirketi olmak.Müşteri menmuniyeti ve çalışma ahlakına bağlı kalarak, müşteri haklarına saygı göstererek, pc bakım montaj ve tamirat hizmetleri sunumunda mükemmele ulaşmak.</p>
                    </div>
                    <div class="tab-pane animated fadeIn" id="tab_f">
                        <h3>Değerlerimiz</h3>
                        <p>
                            Sektöründe önemli projelere imza atmış ve sürekli kendini yenilemeye çalışan
                        </p>
                        <p>
                            Bireysel Bilgisayar :
                        </p>
                        <p>
                            ◦ Güvenilirlik,
                        </p>
                        <p>
                            ◦ Yüksek sorumluluk duygusu,
                        </p>
                        <p>
                            ◦ Dürüstlük,
                        </p>
                        <p>
                            ◦ Deneyim,
                        </p>
                        <p>
                            ◦ Sürekli Eğitim,
                        </p>
                        <p>
                            ◦ Kalite bilinci,
                        </p>
                        <p>
                            ◦ Sürekli gelişim inancı,
                        </p>
                        <p>
                            ◦İş ahlakına bağlılık,
                        </p>
                        <p>◦ Müşteri beklentilerinin üstünde hizmet vermeye çalışan ve iş birliği değerlerine sahiptir. </p>













                    </div>

                </div><!-- tab content -->
            </div><!-- Overview tab end -->
        </div><!--/ Content row end -->
    </div><!-- Container end -->
</section>
<!-- About end -->
<!-- Parallax start -->
<section class="parallax parallax1">
    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Size Nasıl yardımcı olabiliriz?</h2>
                <h3>Ne yapmamızı istediğinizi seçin</h3>
                <p>

                    <a asp-controller="Home" asp-action="Services"  class="btn btn-primary white">Bütün Hizmetlerimiz</a>
                    <a asp-controller="Home" asp-action="Index" asp-fragment="contact"  class="btn btn-primary solid">İletişim</a>
                </p>
            </div>
        </div>
    </div><!-- Container end -->
</section>
<!-- Parallax end -->
<!-- Feature box start -->
<section id="feature" class="feature">
    <div class="container">
        <div class="row">
            <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                <span class="feature-icon pull-left"><i class="fa fa-heart-o"></i></span>
                <div class="feature-content">
                    <h3>Sade &amp; Modern Tasarım</h3>
                    <p>Size özel modern ve sade karmaşıklıktan uzak web tasarımlar.</p>
                </div>
            </div><!--/ End first featurebox -->

            <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                <span class="feature-icon pull-left"><i class="fa fa-codepen"></i></span>
                <div class="feature-content">
                    <h3>Kalitemizle farklıyız</h3>
                    <p>Yaptığımız işe hakimiz, titiz çalışıyor ve tüm sektörlerdeki müşterilerimiz için yüksek kalitede hizmetler üretiyoruz.</p>
                </div>
            </div><!--/ End 2nd featurebox -->

            <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                <span class="feature-icon pull-left"><i class="fa fa-film"></i></span>
                <div class="feature-content">
                    <h3>Çözüm odaklıyız</h3>
                    <p>Öncelikli hedefimiz yüksek verimlilik. Tüm çalışma sistemimizi bu hedefe ulaşma doğrultusunda şekillendiriyoruz ve efektif çözümler sunuyoruz.</p>
                </div>
            </div><!--/ End 3rd featurebox -->
        </div><!-- Content row end -->

        <div class="gap-40"></div>

        <div class="row">
            <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                <span class="feature-icon pull-left"><i class="fa fa-shield"></i></span>
                <div class="feature-content">
                    <h3>Yüksek güvenlik anlayışı</h3>
                    <p>Veri güvenliğine büyük önem veriyor, müşterilerimizin kesintisiz ve güvenli hizmet almaları için gereken tüm tedbirleri alıyoruz.</p>
                </div>
            </div><!--/ End 1st featurebox -->

            <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                <span class="feature-icon pull-left"><i class="fa fa-desktop"></i></span>
                <div class="feature-content">
                    <h3>Düşük maliyet</h3>
                    <p>Yaptığımız tüm çalışmalarda, maliyetleri müşterilerimizin faydası yönünde optimize ediyor ve uygun fiyatlı çözümler üretiyoruz.</p>
                </div>
            </div><!--/ End 2nd featurebox -->

            <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                <span class="feature-icon pull-left"><i class="fa fa-pagelines"></i></span>
                <div class="feature-content">
                    <h3>Tek noktadan hizmet</h3>
                    <p>Müşterilerimizin ihtiyacı olan tüm hizmetleri tek noktadan sağlayarak uyum problemlerini ortadan kaldırıyoruz.</p>
                </div>
            </div><!--/ End 3rd featurebox -->

        </div><!-- Content row end -->

        <div class="gap-40"></div>

        <div class="row">
            <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                <span class="feature-icon pull-left"><i class="fa fa-users"></i></span>
                <div class="feature-content">
                    <h3>Profesyonel Ekip Üyeleri</h3>
                    <p>Probleminizin en hızlı ve ekonomik çözümü için tamamı alanında uzman ekibimiz ile hizmetinizdeyiz..</p>
                </div>
            </div><!--/ End first featurebox -->

            <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                <span class="feature-icon pull-left"><i class="fa fa-diamond"></i></span>
                <div class="feature-content">
                    <h3>7/24 Hizmet</h3>
                    <p>Sizler için 7/24 bize sürekli ulaşabileceğiniz hizmet politikası</p>
                </div>
            </div><!--/ End first featurebox -->

            <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                <span class="feature-icon pull-left"><i class="fa fa-tachometer"></i></span>
                <div class="feature-content">
                    <h3>Zamanınız Bizim için Değerli</h3>
                    <p>Bilgisayarlar neden hep sizin için en kötü zamanda bozulur? Bilgisayarınız bozulduğunda bizi arayın bütün imkanlarımızı seferber edip sizin için en kısa zamanda çözüme ulaşalım.</p>
                </div>
            </div><!--/ End first featurebox -->
        </div><!-- Content row end -->

    </div><!--/ Container end -->
</section>
<!--/ Feature box end -->
<!-- Counter Strat -->
<section class="ts_counter no-padding">
    <div class="container-fluid">
        <div class="row facts-wrapper wow fadeInLeft text-center">
            <div class="facts one col-md-3 col-sm-6">
                <span class="facts-icon"><i class="fa fa-user"></i></span>
                <div class="facts-num">
                    <span class="counter">10000</span> 'den fazla
                </div>
                <h3>Müşteri</h3>
            </div>

            <div class="facts two col-md-3 col-sm-6">
                <span class="facts-icon"><i class="fa fa-institution"></i></span>
                <div class="facts-num">
                    <span class="counter">4000</span> 'den fazla
                </div>
                <h3>Satış</h3>
            </div>

            <div class="facts three col-md-3 col-sm-6">
                <span class="facts-icon"><i class="fa fa-suitcase"></i></span>
                <div class="facts-num">
                    <span class="counter">300</span> 'den fazla yenilikçi
                </div>
                <h3>Proje</h3>
            </div>

            <div class="facts four col-md-3 col-sm-6">
                <span class="facts-icon"><i class="fa fa-users"></i></span>
                <div class="facts-num">
                    <span class="counter">100</span> 'lerce
                </div>
                <h3>Firma Referansı</h3>
            </div>

        </div>
    </div><!--/ Container end -->
</section>
<!--/ Counter end -->

<section id="image-block" class="image-block no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ts-padding" style="        height: 650px;
        background-image: url(../images/image-block-bg.jpg);
        background-repeat:no-repeat; background-position:50% 50%;">
            </div>
            <div class="col-md-6 ts-padding img-block-right">
                <div class="img-block-head text-center">
                    <h1>25+ Yıllık Deneyim</h1>
                    <h1>10000+ Kayıtlı Müşteri</h1>
                    <h1>100+ Firma Referansı</h1>


                </div>

                <div class="gap-30"></div>

                <div class="image-block-content">
                    <span class="feature-icon pull-left"><i class="fa fa-bicycle"></i></span>
                    <div class="feature-content">
                        <h3>Deneyim</h3>
                        <p>Özlem Bilgisayar tamamı alanında profesyonel kişilerden oluşmuştur. Ekibimizdeki tüm arkadaşların, müşterilerimizin teknoloji alanında sorduğu sorulara hazırlıklı ve onları yönlendirecek deneyime hazır olmaları hedeflenmiştir.</p>
                    </div>
                </div><!--/ End 1st block -->

                <div class="image-block-content">
                    <span class="feature-icon pull-left"><i class="fa fa-diamond"></i></span>
                    <div class="feature-content">
                        <h3>Şeffaflık & Doğruluk</h3>
                        <p>Doğrucu olmak ve Güven kazanmak prensiplerimizin vazgeçilmezidir.</p>
                    </div>
                </div><!--/ End 1st block -->

                <div class="image-block-content">
                    <span class="feature-icon pull-left"><i class="fa fa-street-view"></i></span>
                    <div class="feature-content">
                        <h3>Sorumluluk  </h3>
                        <p>Bilgileriniz ve emek harcadığınız çalışmalarınız bizim için önemlidir. Herhangi bir teknik servis işleminde bilgileriniz hiçbir şekilde zarar görmez!</p>
                    </div>
                </div><!--/ End 1st block -->

            </div>
        </div>
    </div>
</section>
<!--/ Image block end -->
<!-- Team start -->
<section id="team" class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading">
                <span class="title-icon pull-left"><i class="fa fa-weixin"></i></span>
                <h2 class="title">İş Ortaklarımız <span class="title-desc"></span></h2>
            </div>
        </div><!-- Title row end -->

        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <div class="team wow slideInLeft">
                    <div class="img-hexagon">
                        <img loading="lazy" src="../images/team/team1.jpg" alt="">

                    </div>

                </div>
            </div><!--/ Team 1 end -->
            <div class="col-md-3 col-sm-6">
                <div class="team wow slideInLeft">
                    <div class="img-hexagon">
                        <img loading="lazy" src="../images/team/team2.jpg" alt="">

                    </div>

                </div>
            </div><!--/ Team 1 end -->
            <div class="col-md-3 col-sm-6">
                <div class="team wow slideInLeft">
                    <div class="img-hexagon">
                        <img loading="lazy" src="../images/team/team3.jpg" alt="">

                    </div>

                </div>
            </div><!--/ Team 1 end -->
            <div class="col-md-3 col-sm-6">
                <div class="team wow slideInLeft">
                    <div class="img-hexagon">
                        <img loading="lazy" src="../images/team/team4.jpg" alt="">

                    </div>

                </div>
            </div><!--/ Team 1 end -->

        </div><!--/ Content row end -->
    </div><!--/ Container end -->
</section><!--/ Team end -->
<!-- Parallax 1 start -->
<!-- Pricing table start -->
<!-- Testimonial start-->
<section class="testimonial parallax parallax2">
    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading text-center">
                <h2 class="title2">
                    Müşterilerimizin Yorumları
                    <span class="title-desc" style="color:white">
                        Google işletme yorumlarımızdan bazıları.

                    </span>
                </h2>
            </div>
        </div> <!-- Title row end -->
        <div class="row">
            <div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
                <div class="item">
                    <div class="testimonial-thumb">
                        <img loading="lazy" src="../images/clients/googleuser.png" alt="testimonial">
                    </div>
                    <div class="testimonial-content">
                        <p class="testimonial-text">
                            Ana karti yanan macbook’umu gayet basarili tamir ettiler. Ustelik onceki goturdugum servis tamir edememisti ve ana karti degistirmek isteyip yuklu bir fiyat cikarmisti. Bir de buraya gostereyim dedim ve cok memnun kaldim. Sadece tamir etmeleri uzun sürdü (~4-5 hafta), ama bu gecikme icin de extradan 160 TL’lik sarj aleti hediye ettiler.
                        </p>
                        <h3 class="name">Gökhan Bey.</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-thumb">
                        <img loading="lazy" src="../images/clients/googleuser.png" alt="testimonial">
                    </div>
                    <div class="testimonial-content">
                        <p class="testimonial-text">
                            Sinan Bey gerçekten çok ilgiydi, ben sahibi olduğu için böyle ilgili davranıyor sandım fakat çalışanmış 🙂 yıllardır kullandığım Apple Macbook bilgisayarımı tekrar eski haline getirdikleri için teşekkür ediyorum.
                        </p>
                        <h3 class="name">Fatih Bey.</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-thumb">
                        <img loading="lazy" src="../images/clients/googleuser.png" alt="testimonial">
                    </div>
                    <div class="testimonial-content">
                        <p class="testimonial-text">
                            Gayet iyi gönül rahatlığıyla bilgisayarınızı teslim edebilirsiniz ayrıca kare kodları sayesinde işlemin nasıl gittiğini görebiliyorsunuz. Yapılması gereken ek bir şey gözlerine çarparsa sizi arıyorlar ve işlem bittiğinde mesaj yoluyla tekrar size haber veriyorlar gayet güler yüzlü ve işlerini incelikte yapıyorlar. Fiyatlar konusunda da piyasadaki diğer bilgisayarcılardan pek bir farkları yok.
                        </p>
                        <h3 class="name">Mine Hanım.</h3>
                    </div>
                </div>

            </div><!--/ Testimonial carousel end-->
        </div><!--/ Row end-->
    </div><!--/  Container end-->
</section><!--/ Testimonial end-->
<!-- Clients start -->

<section id="contact">
    <div class="container">

        <div class="row">
            <!-- Map start here -->
            <div id="map-wrapper" class="no-padding">
                <div class="map" id="map">

                </div>
            </div><!--/ Map end here -->

        </div><!-- Content row  end -->

        <div class="gap-40"></div>

        <div class="row">
            <div class="col-md-7">
                <form id="contact-form" asp-controller="Home" asp-action="CreateContactUs" method="post" role="form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Adınız</label>
                                <input class="form-control" name="Name" id="name" placeholder="" type="text" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" name="Email" id="email"
                                       placeholder="" type="email" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Konu</label>
                                <input class="form-control" name="Subject" id="subject"
                                       placeholder="" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>İçerik</label>
                        <textarea class="form-control" name="Message" id="message" placeholder="" rows="10" required></textarea>
                    </div>
                    <div class="text-right">
                        <br>
                        <button class="btn btn-primary solid blank" type="submit">Mesajı Gönder</button>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                <div class="contact-info">
                    <h3>İletişim Detayları </h3>

                    <p><i class="fa fa-home info"></i>  Cumhuriyet Mahallesi Gazi Caddesi Tunç Sokak Uslukent Sitesi B Blok 8A 16140 Nilüfer/BURSA </p>
                    <p><i class="fa fa-phone info"></i> +90 224 253 4966 </p>
                    <p><i class="fa fa-envelope-o info"></i>  bilgi@3escomputer.com</p>
                    <p><i class="fa fa-globe info"></i>  www.3escomputer.com</p>
                </div>
            </div>
        </div>

    </div><!--/ container end -->

</section><!--/ Main container end -->
