@model ControlCenter
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="main-slide" class="ts-flex-slider">

    <div class="flexSlideshow flexslider">
        <ul class="slides">
            <li>

                <div class="overlay2">

                    <img loading="lazy" class="" src="../images/slider/@Model.mainsliderimage" alt="slider">
                </div>
                <div class="flex-caption slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated2">
                            Bilgisayar, Laptop, Garantili Teknik Servisi
                        </h2>
                        <h3 class="animated3">
                            Profesyonel Bilgisayar Teknik Servis Hizmeti
                        </h3>
                        <p class="animated4"><a href="#" class="slider btn btn-primary white">Servislerimiz</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="overlay2">
                    <img loading="lazy" class="" src="../images/slider/@Model.mainsliderimage2" alt="slider">
                </div>
                <div class="flex-caption slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated4">
                            Yerinde Bilişim Desteği
                        </h2>
                        <h3 class="animated5">
                            Hızlıca işletmenizi büyütün
                        </h3>
                        <p class="animated6"><a href="#" class="slider btn btn-primary white">Servislerimiz</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="overlay2">
                    <img loading="lazy" class="" src="../images/slider/@Model.mainsliderimage3" alt="slider">
                </div>
                <div class="flex-caption slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated7">
                            Web Tasarım & Yazılım Hizmetleri
                        </h2>
                        <h3 class="animated8">
                            Şirketinize özel Web Tasarım - Yazılım Hizmetleri
                        </h3>
                        <div class="">
                            <a class="animated4 slider btn btn-primary btn-min-block white" href="#">İletişim</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="overlay2">
                    <img loading="lazy" class="" src="../images/slider/@Model.mainsliderimage4" alt="slider">
                </div>
                <div class="flex-caption slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated7">
                            Veri Kurtarma Hizmeti
                        </h2>
                        <h3 class="animated8">
                            Veri Kurtarma Hizmeti
                        </h3>
                        <div class="">
                            <a class="animated4 slider btn btn-primary btn-min-block white" href="#">İletişim</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div><!--/ Main slider end -->